[submodule "campetella_sim"]
	path = campetella_sim
	url = git@github.com:alefram/campetella_sim.git
	branch = update-worlds
[submodule "robotnik_simulation"]
	path = robotnik_simulation
	url = git@github.com:farshad-heravi/robotnik_simulation.git
	branch = jazzy-devel
[submodule "renee_rbvogui_navigation"]
	path = renee_rbvogui_navigation
	url = git@github.com:farshad-heravi/renee_rbvogui_navigation.git
[submodule "robotnik_description"]
	path = robotnik_description
	url = git@github.com:farshad-heravi/robotnik_description.git
	branch = jazzy-devel
[submodule "onrobot-ros2"]
	path = onrobot-ros2
	url = git@github.com:farshad-heravi/onrobot-ros2.git
